<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <link rel="stylesheet" href="../../css/component/register.css">
    <script type="text/javascript" src="/libs/require/require.js" data-main="/js/component/register.js"></script>
</head>

<body>
    <div class="register_wrap">
        <div class="register">
            <div class="register_box" id="register_box">
                <img src="../../images/logo.png" alt="">
                <h3 class="register_h3">创建账户</h3>
                <div id="register_wramming" class="register_wramming">123</div>
                <div class="register_email">
                    <input type="text" placeholder="someone@example.com" id="register_email">
                </div>
                <div class="register_change">
                    <a href="">改为使用电话号码</a>
                </div>
                <div class="register_change">
                    <a href="">获取新的电子邮件地址</a>
                </div>
                <div class="register_next" id="register_next">
                    <button>下一步</button>
                </div>
            </div>
            <div class="register_box2" id="register_box2">
                <img src="../../images/logo.png" alt="">
                <div class="register_prev_wrap">
                    <div class="register_prev">

                    </div>
                    <span></span>
                </div>
                <h3 class="register_h3">创建密码</h3>
                <div class="register_input">输入想为帐户使用的密码。</div>
                <div class="register_password">
                    <input type="text" placeholder="创建密码">
                </div>
                <div class="register_next">
                        <button>注册</button>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>