<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/component/register.css">
</head>

<body>
    <div class="register_wrap">
        <div class="register">
            <div class="register_box">
                <img src="../../images/logo.png" alt="">
                <h3>创建账户</h3>
                <div class="email">
                    <input type="text" placeholder="someone@example.com">
                </div>
                <div class="register_change">
                    <a href="">改为使用电话号码</a>
                </div>
                <div class="register_change">
                    <a href="">获取新的电子邮件地址</a>
                </div>
                <div class="register_next">
                    <a href="">下一步</a>
                </div>
            </div>
            <div class="register_box2">
                <img src="../../images/logo.png" alt="">
                <div>
                    <div class="register_prev">

                    </div>
                    <span></span>
                </div>
                <h3>创建密码</h3>
                <div>输入想为帐户使用的密码。</div>
                <div class="password">
                    <input type="text" placeholder="创建密码">
                </div>
                <div class="register_next">
                        <a href="">注册</a>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>