.add_car_btn {
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    border: none;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    background-color: #da3b01;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}