@import "./component/style.scss";
@import "./component/header.scss";
@import "./banner.scss";
@import "./component/footer.scss";

//banner下面的第一个产品图
.primary_one {
    width: 100%;
    height: 411px;

    .primary_one_wrap {
        width: 1600px;
        height: 411px;
        margin: 0 auto;
        padding-top: 48px;

        .primary {
            width: 100%;
            display: flex;
            justify-content: space-between;

            li {
                width: 382px;
                height: 364px;

                img {
                    width: 382px;
                    height: 214px;
                }

                h3 {
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 600;
                    opacity: .95;
                    padding-top: 1px;
                    padding-bottom: 2px;
                    margin-top: 37px;
                }

                .primary_title {
                    display: block;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                }

                p {
                    padding: 10px 3px 7px 0;
                    position: relative;
                    border: 2px solid transparent;
                    outline: 1px solid transparent;
                    outline-offset: -3px;
                    margin-left: 0;
                    color: #0067b8;
                    background: transparent;
                    transition: none;
                    white-space: normal;
                    text-align: left;

                    .primary_buys {
                        max-width: 100%;
                        display: inline-block;
                        position: relative;
                        left: 0;
                        text-overflow: clip;
                        overflow: hidden;
                        transition: all 200ms ease-in-out;
                        vertical-align: top;
                        line-height: 18.5px;
                        font-weight: 600;

                        &:hover {
                                border-bottom: 2px solid #0067b8;
                        }
                    }
                }
            }
        }
    }
}

//第一幅大图
.max_primary {
    max-width: calc(1600px + 10%);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 48px;

    .max_primary_wrap {
        width: 1600px;
        height: 100%;
        margin: 0 auto;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .max_primary_xbox {
            width: 88%;
            height: 100%;
            max-width: 2048px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            margin: 0 auto;
            overflow: hidden;

            .max_primary_box {
                left: 0;
                position: absolute;
                z-index: 1;
                max-width: 520px;
                width: 426px;
                height: 160px;
                top: 120px;
                top: calc(50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);

                h2 {
                    padding-bottom: 3px;
                    padding-top: 2px;
                    font-size: 46px;
                    line-height: 56px;
                    display: inline-block;
                    background: #ccc;
                }

                .max_primary_xbox_title {
                    margin-top: 12px;
                    font-size: 15px;
                    line-height: 20px;
                    padding: 12px 0 0;
                    font-weight: 400;
                    overflow: hidden;
                    box-sizing: content-box;
                    max-height: 80px;
                    padding: 0;
                }

                .max_primary_xbox_buy {
                    width: 406px;
                    height: 55px;
                    margin-top: 12px;
                    padding: 2px 0px;
                    padding-top: 12px;

                    a {
                        padding: 10px 20px 6px 22px;
                        position: relative;
                        border: 2px solid transparent;
                        outline: 1px solid transparent;
                        outline-offset: -3px;
                        max-width: 100%;
                        display: inline-block;
                        width: 125px;
                        overflow: hidden;
                        color: #fff;
                        font-weight: 600;
                        text-align: center;
                        text-decoration: none;
                        letter-spacing: 0;
                        line-height: 1.3;
                        white-space: nowrap;
                        transition: all 200ms ease-in-out;
                        box-shadow: 0 4px 8px 0 transparent;
                        background-color: #181818;

                        span {
                            width: 20px;
                        }
                        &:hover span{
                            border-bottom: 2px solid #fff;
                            transition: all 200ms ease-in-out;
                            margin-left: -8px;
                        }
                    }
                }
            }
        }
    }
}


//banner下面的第二个产品图
.primary_two {
    width: 100%;
    height: 460px;

    .primary_two_wrap {
        width: 1600px;
        height: 100%;
        margin: 0 auto;

        .primary_two_top {
            width: 100%;
            height: 80px;
            padding-top: 48px;
        }

        .primary_max {
            width: 100%;
            height: 411px;
            display: flex;
            justify-content: space-between;

            li {
                width: 382px;
                height: 100%;

                a {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 382px;
                        height: 214px;
                    }

                    h3 {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 600;
                        opacity: .95;
                        padding-top: 1px;
                        padding-bottom: 2px;
                        margin-top: 37px;
                        padding-right: 12px;
                    }

                    .primary_max_title {
                        padding-right: 12px;
                        padding-top: 2px;
                        display: block;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                    }

                    .primary_max_buy {
                        padding: 10px 3px 7px 0;
                        position: relative;
                        border: 2px solid transparent;
                        outline: 1px solid transparent;
                        outline-offset: -3px;
                        margin-left: 0;
                        color: #0067b8;
                        background: transparent;
                        transition: none;
                        white-space: normal;
                        text-align: left;

                        span {
                            max-width: 100%;
                            display: inline-block;
                            position: relative;
                            left: 0;
                            text-overflow: clip;
                            overflow: hidden;
                            transition: all 200ms ease-in-out;
                            vertical-align: top;
                            line-height: 18.5px;
                            font-weight: 600;

                            &:hover {
                                border-bottom: 2px solid #0067b8;
                            }
                        }
                    }
                }
            }
        }
    }
}

//第二幅大图
.max_primary .max_primary_wrap .max_primary_xbox .max_primary_box .max_primary_two{
    font-weight: 600;
    letter-spacing: -.01em;
    box-sizing: content-box;
    max-height: 112px;
    background: none;
    font-family: 'Segoe UI',SegoeUI,'Microsoft YaHei',微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


.about_Microsoft{
    width: 100%;
    height: 80px;
    .about_Microsoft_wrap{
        width: 1600px;
        height: 80px;
        padding-top: 48px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        div{
            float: left;
            padding-right: 12px;
            margin-bottom: 4px;
        }
        ul{
            display:flex;

            li{
                width: 44px;
                height: 32px;
                img{
                    width: 28px;height: 28px;
                }
            }
        }
    }
}
